<ion-view view-title="English en-US">
  <ion-content>
    <h1>English</h1>

        <ul class="list">
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Item 1
        </li>

        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Item 2
        </li>

        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Item 3
        </li>

        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Item 4
        </li>

        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Item 5
        </li>
    </ul>

  </ion-content>
</ion-view>