<ion-view view-title="WordPress Security Checklist">
  <ion-content>

    <blockquote>
        <p>A maioria das vezes que um site feito com WordPress é invadido a culpa não é do WordPress, mas sim de alguma falha boba que poderia ter sido evitada durante a sua construção.</p>
        <p>Essa é a ideia desse projeto: Ser um checklist de ações que você deve tomar para aumentar a segurança do seu site.</p>
    </blockquote>

    <h2>Página de login</h2>
    <ul class="list">
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Bloqueie várias tentativas de login (Login Lockdown ou iThemes Security)
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Ative autenticação de 2 etapas (Google Authenticator for WordPress)
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Use um email para fazer login ao invés de um nome de usuário (WP Email Login)
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Altere o endereço da sua página de login (iThemes Security ou diretamente pelo .htaccess)
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Remova links para sua página de login (caso exista algum em seu tema)
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Use senhas fortes com letras maiúsculas e minúsculas, números e caractéres especiais em todas as contas
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Altere sua senha periodicamente
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Faça com que a mensagem de erro de login seja genérica (user/pass)
        </li>
    </ul>

    <h2>Painel Administrativo</h2>
    <ul class="list">
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Proteja a pasta wp-admin com senha
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Atualize o WordPress para sua versão mais recente
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Não utilize uma conta com nome de usuário admin. Caso exista, crie uma nova conta e apague a antiga
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Crie uma conta Editor e use-a somente para publicar seu conteúdo
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Implemente SSL em toda seção administrativa
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Instale algum plugin para verificar se algum arquivo foi editado (WP Security Scan, Wordfence ou iThemes Security)
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Scaneie o site a procura de vírus, malwares e falhas de segurança
        </li>
    </ul>

    <h2>Temas</h2>
    <ul class="list">
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Atualize o tema ativo para sua versão mais recente
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Apague temas inativos
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Apenas instale temas de fontes confiáveis
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Remova a versão do WordPress no tema
        </li>
    </ul>

    <h2>Plugins</h2>
    <ul class="list">
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Atualize todos os plugins para suas versões mais recentes
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Apague plugins inativos
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Apenas instale plugins de fontes confiáveis
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Substitua plugins desatualizados por versões alternativas atualizadas
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Pense bem antes de instalar uma centena de plugins
        </li>
    </ul>

    <h2>Banco de dados</h2>
    <ul class="list">
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Altere o prefixo das tabela
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Configure backups semanais do seu banco de dados (Backup WP ou WP DB Backup)
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Use senhas fortes com letras maiúsculas e minúsculas, números e caractéres especiais no usuário do banco de dados
        </li>
    </ul>

    <h2>Hospedagem</h2>
    <ul class="list">
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Contrate uma hospedagem de confiança
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Acesse seu servidor apenas por SFTP ou SSH
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Configure as permissões das pastas para 755 e arquivos para 644
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Certifique-se que seu arquivo wp-config.php não possa ser acessado por outras pessoas
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Remova ou bloqueie via .htaccess os arquivos license.txt, wp-config-sample.php e readme.html
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Desabilite o editor pelo wp-config.php com o código: <code>define('DISALLOW_FILE_EDIT',true);</code>
        </li>
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Previna a pesquisa de diretórios via .htaccess com o código: <code>Options All -IndexesOptions All -Indexes</code>
        </li>
    </ul>

    <a class="button button-block button-balanced icon-right ion-chevron-right" href="#" onclick="window.open('http://wpsecuritychecklist.org/br/items/', '_system', 'location=yes'); return false;">Abrir no navegador</a>

  </ion-content>
</ion-view>
