<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.wordpresssecuritychecklistapp804039" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Wordpress Security Checklist</name>
  <description>
        A checklist of actions that you should take to increase the security of your website.
  </description>
  <author email="rafaelfunchal@gmail.com" href="http://rafaelfunchal.com.br/">
      Ionic Framework Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>